<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="market.marketproject.mapper.ProductMapper">

    <insert id="registerProduct" parameterType="market.marketproject.dto.Product">
        INSERT INTO product
        (
            product_uuid,
            seller_uuid,
            product_name,
            product_count,
            product_price,
            big_category,
            middle_category,
            small_category,
            idx
        )
        VALUES
            (
                #{productUuid},
                #{sellerUuid},
                #{productName},
                #{productCount},
                #{productPrice},
                #{bigCategory},
                #{middleCategory},
                #{smallCategory},
                #{idx}
            )
    </insert>

    <select id="productOfSeller" parameterType="market.marketproject.dto.Product" resultType="market.marketproject.dto.Product" >
        SELECT
            product_uuid,
            seller_uuid,
            product_name,
            product_uuid,
            product_count,
            product_price,
            big_category,
            middle_category,
            small_category
        FROM
            product
        where
            seller_uuid = #{sellerUuid}
    </select>

    <select id="productOfCategory" parameterType="market.marketproject.dto.Product" resultType="market.marketproject.dto.Product">
        SELECT
            product_uuid,
            seller_uuid,
            product_name,
            product_uuid,
            product_count,
            product_price,
            big_category,
            middle_category,
            small_category
        FROM
            product
        WHERE
            small_category = #{smallCategory} OR middle_category = #{middleCategory} OR big_category = #{bigCategory}
    </select>

    <select id="allProduct" parameterType="market.marketproject.dto.Product" resultType="market.marketproject.dto.Product">
        SELECT
            product_uuid,
            seller_uuid,
            product_name,
            product_uuid,
            product_count,
            product_price,
            big_category,
            middle_category,
            small_category
        FROM
            product
        ORDER BY
            idx ASC
        LIMIT #{offset}, #{recordSize}
    </select>

    <select id="count" parameterType="market.marketproject.dto.Product" resultType= "java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            product
    </select>
    
    <delete id="deleteProduct">
        DELETE
        FROM
            product
        WHERE
            product_uuid = #{productUuid}
    </delete>

</mapper>