<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="market.marketproject.mapper.ProductMapper">

    <insert id="registerProduct" parameterType="market.marketproject.dto.Product">
        INSERT INTO product
        (
            product_uuid,
            seller_uuid,
            product_name,
            product_count,
            product_price
        )
        VALUES
            (
                #{productUuid},
                #{sellerUuid},
                #{productName},
                #{productCount},
                #{productPrice}
            )
    </insert>

    <select id="productOfSeller" parameterType="market.marketproject.dto.Product" resultType="market.marketproject.dto.Product" >
        SELECT
            product_uuid,
            seller_uuid,
            product_name,
            product_uuid,
            product_count,
            product_price
        FROM
            product
        where
            seller_uuid = #{sellerUuid}
    </select>
    
    <delete id="deleteProduct">
        DELETE
        FROM
            product
        WHERE
            product_uuid = #{productUuid}
    </delete>

</mapper>