<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <title>비밀번호 찾기</title>
</head>
<body>
비밀번호 찾기
<form th:if = "${session.user_password == null}" method="post" action="/sendEmail.do">
  EMAIL :<input type="text" th:value="${session.user_email}" name="userEmail">
  <button type="submit">제출</button><br>
</form>
<form th:if = "${session.user_password == null}" method="post" action="/findPassword.do">
  인증번호 :<input type="text" name="mailKey"><br>
  <button type="submit">제출</button>
</form>
<form th:if = "${session.user_password != null}" method="post" action="/home">
  <p th:text= "'비밀번호는 ' + ${session.user_password} + '입니다.'"></p>
  <button type="submit">처음으로</button>
</form>
</body>
</html>